:root{
    --primary:#EA40A4;
    --business:#3A82EE;
    --personal:var(--primary);
    --light:#EEE;
    --gray:#888;
    --dark:#313154;
    --light-color:#FFF;

    --shadow:0 1px 3px rgba(0,0,0,0.1);

    --business-glow:0px 0px 4px rgba(58, 130, 238,0.75);
    --personal-glow:0px 0px 4px rgba(234, 64, 164,0.75);
}
*{
    padding: 0;
    user-select: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    background: none;
    cursor: initial;
    outline: none;
}
body{
    background: var(--light);
    color: var(--dark);
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
h3{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
h4{
    color: var(--gray);
    font-size: 0.875rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.greeting .title{
    display: flex;
}
.greeting .title input{
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;

}
.greeting .title,
.greeting .title input{
    font-weight: 700;
    color: var(--dark);
    font-size: 1.5rem;
}
.create-todo input[type="text"]{
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background: var(--light-color);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}
.create-todo .options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}
.create-todo .options label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;

}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--business);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: var(--business-glow);
}
.bubble.personal{
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}
.bubble::after{
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    background: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.bubble.personal::after{
    background: var(--personal);
    box-shadow: var(--personal-glow);
}
input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}
.create-todo .options label div{
    margin-top: 1rem;
    color: var(--dark);
    font-size: 1.125rem;
}
.create-todo input[type="submit"]{
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 700;
    width: 100%;
    transition: 0.1s ease;
    border-radius: 0.5rem;
    padding: 1rem 1.125rem;
    box-shadow: var(--personal-glow);
    border: 1px solid transparent;
    background:linear-gradient(to right, var(--primary),var(--business));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.create-todo input[type="submit"]:hover{
    cursor: pointer;
    border-color: var(--business);
    color: var(--business);
}
.todo-list .list{
    /* display: flex; */
    margin: 1rem auto;
    /* background-color: #3A82EE; */
}
.todo-list .todo-item{
    display: flex;
    align-items: center;
    background: var(--light-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}
.todo-list .todo-item label{
    margin-right: 1rem;
}
.todo-item .todo-content{
    flex: 1 1 0%;
}
.todo-item .todo-content input{
    color:var(--dark);
    font-size: 1.125rem;
    flex:1 1 0%;
}
.todo-item .actions button{
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    /* background: var(--personal); */
    cursor: pointer;
    color: var(--light-color);
    
}

.todo-item .actions .edit{
    border: 1px solid transparent;
    background: linear-gradient(to right,var(--primary),var(--business));
    cursor: pointer;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-size: 1.125rem;
    font-weight: 900;

}
.todo-item .actions .Delete{
    border: 1px solid transparent;
    background: linear-gradient(to right,var(--dark),crimson);
    cursor: pointer;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-size: 1.125rem;
    font-weight: 900;
    /* color: crimson; */

}
.todo-item .actions .edit:hover{
    border-color: var(--business);
}
.todo-item .actions .Delete:hover{
    border-color: crimson;
}
.todo-item.done .todo-content input{
    text-decoration: line-through;
    color: var(--dark);
}
